/* ForgotPassword.css */

.container {
    height: 100vh;
  }
  
  .password-box {
    width: 400px;
    background: #fff;
    border-radius: 10px;
  }
  
  .logo {
    font-weight: bold;
    color: #6a0dad;
  }
  
  .btn-primary {
    background-color: #6a0dad;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #580b8e;
  }
  
  a {
    color: #6a0dad;
  }
  
  a:hover {
    color: #580b8e;
  }
  