.forgot-container {
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-box {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.logo-img {
  width: 120px;
}

.btn-purple {
  background-color: #6a0dad;
  color: #fff;
  border: none;
}

.btn-purple:hover {
  background-color: #580b8e;
}

.back-link {
  text-decoration: none;
  color: #807f81;
  font-size: 14px;
  font-weight: bold;
}

.back-link:hover {
  color: #580b8e;
  text-decoration: underline;
}